* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f5f0;
}
.login-container {
  width: 500px;
  margin-top: 150px;
}
.custom-btn {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #7373ef;
  border: none;
  border-radius: 5px;
}
.sidebar {
  background-color: #7373ef;
  min-width: 80px;
  width: 80px;
  padding: 20px;
  color: #ffffff;
}
.sidebar-header {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}
.divition {
  border-bottom: 1px solid #adadad;
}
.sidebar-header > i {
  font-size: 28px;
  margin-top: -5px;
}
.toggle {
  text-align: center;
  margin-top: 20px;
}
.toggle > i {
  padding: 10px 15px;
  background-color: #adadad;
  border-radius: 50%;
}
.extend {
  min-width: 240px;
}
.content {
  min-height: 100vh;
}
